
<div class="navbar navbar-inverse">
  <a class="navbar-brand" href="#">Hello User</a>
  <ul class="nav navbar-nav">
    <li class="active">
        <li>
        <a routerLink="/editprofile">Edit Profile</a>
          </li>
          <li>
          <a routerLink="/changepassword">Change Password</a>
            </li>
          <li>
      <a routerLink="/paymenthistorys">Payment History</a>
    </li>
    <li>
      <a routerLink="/issuedbooks">Issued Books</a>
    </li>
    <li>
      <br>
        <input type="search" placeholder="Search Book by Name" id="search" name="search"> 
        <input type="button" value="Search" id="search" name="search">
      </li>
      <li> 
          <button type="submit" routerLink="" id="logout" name="logout">LogOut</button>
        </li>

  </ul>
</div>
<router-outlet></router-outlet>