<div class="navbar navbar-inverse">
    <a class="navbar-brand" >Hello Libararian</a>
    <ul class="nav navbar-nav">
      <li class="active">
          <li>
          <a routerLink="/editprofile">Edit Profile</a>
            </li>
            <li>
            <a routerLink="/changepassword">Change Password</a>
              </li>
            <li>
                <a routerLink="/checkbookavailabilty">Check Book Availabilty</a>
            </li>
            <li>
                <a routerLink="/addnewbook">Add New Book</a>
            </li>
            <li>
                <a routerLink="/addnewcopy">Add New Copy</a>
            </li>
            <li>
                <a routerLink="/returnbook">Return Book</a>
            </li>
            <li>
                <a routerLink="/issuebook">Issue Book</a>
            </li>
            <li>
                <a routerLink="/listofissuedbooks">List of Issued Books</a>
            </li> <br>
            <li>
                <a routerLink="/addnewmember">Add New Member</a>
            </li>
            <li>
                <a routerLink="/takepayment">Take Payment</a>
            </li>
            <li>
                <a routerLink="/paymenthistory">Payment History</a>
            </li>
            <li>
                <a routerLink="/listofallusers">List of All Users</a>
            </li>  &nbsp;
            
            <li>
                 
                 <div class="form-group">
                     <label for="input" class="col-sm-3 control-label"></label>
                     <div class="col-sm-10">
                         <input type="search" name="searchname" id="searchinput" class="form-control" value=""  placeholder="Search Book by Name"> 
                     </div>
                 </div> 
            </li>
            <li>   
                <button type="button" class="btn btn-default" id="searchbtn" name="searchbtn">Search</button> &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
            </li> 
            
            <li> 
                <button type="submit" routerLink="#" class="btn btn-default" id="logout" name="logout">LogOut</button>
            </li>
    </ul>
  </div>

<!--====================================================================================================== Nav-bar ends here-->

<form action ="" >
  <div class="container">
    <h1>Payment History</h1>
  
    <hr>

    <label for="Book"><b>Enter User id</b></label>
    <br>

    <input type="number" placeholder="User id" name="id" required>
 <br>
 <br> 
 
 <button type="submit" class="btn btn-large btn-block btn-success">Show Transaction</button>
 
    <button type="submit" class="btn btn-large btn-block btn-danger">Take Payment</button>
 
   
   <hr>