<div class="navbar navbar-inverse">
    <a class="navbar-brand" >Hello Libararian</a>
    <ul class="nav navbar-nav">
      <li class="active">
          <li>
          <a routerLink="/editprofile">Edit Profile</a>
            </li>
            <li>
            <a routerLink="/changepassword">Change Password</a>
              </li>
            <li>
                <a routerLink="/checkbookavailabilty">Check Book Availabilty</a>
            </li>
            <li>
                <a routerLink="/addnewbook">Add New Book</a>
            </li>
            <li>
                <a routerLink="/addnewcopy">Add New Copy</a>
            </li>
            <li>
                <a routerLink="/returnbook">Return Book</a>
            </li>
            <li>
                <a routerLink="/issuebook">Issue Book</a>
            </li>
            <li>
                <a routerLink="/listofissuedbooks">List of Issued Books</a>
            </li> <br>
            <li>
                <a routerLink="/addnewmember">Add New Member</a>
            </li>
            <li>
                <a routerLink="/takepayment">Take Payment</a>
            </li>
            <li>
                <a routerLink="/paymenthistory">Payment History</a>
            </li>
            <li>
                <a routerLink="/listofallusers">List of All Users</a>
            </li>  &nbsp;
            
            <li>
                 
                 <div class="form-group">
                     <label for="input" class="col-sm-3 control-label"></label>
                     <div class="col-sm-10">
                         <input type="search" name="searchname" id="searchinput" class="form-control" value=""  placeholder="Search Book by Name"> 
                     </div>
                 </div> 
            </li>
            <li>   
                <button type="button" class="btn btn-default" id="searchbtn" name="searchbtn">Search</button> &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
            </li> 
            
            <li> 
                <button type="submit" routerLink="#" class="btn btn-default" id="logout" name="logout">LogOut</button>
            </li>
    </ul>
  </div>

<!--====================================================================================================== Nav-bar ends here--> 

<form action="action_page.php">
  <div class="container">
    <h1>Edit</h1>

    <hr>


    <label for="name"><b>Name</b></label>
    <input type="text"  name="name" id="name" required="required">

    <label for="email"><b>Email</b></label>
    <input type="email"  name="email" id="email" required="required">

    <label for="phone"><b>Phone</b></label>
    <input type="text" name="phone" id="phone" required="required">

    <label for="password"><b>Password</b></label>
    <input type="password" name="password" id="password" required="required">

    <label for="role"><b>Role</b></label>
    <input type="text" name="role"  id="role" required="required">
    <hr>

  
    <button type="submit" class="btn btn-success" >Update</button>&nbsp;
    <button type="submit" class="btn btn-danger" >Cancel</button>

  </div>

</form>

