
<div class="navbar navbar-inverse">
  <a class="navbar-brand" href="#">Hello Libararian</a>
  <ul class="nav navbar-nav">
    <li class="active">
        <li>
        <a routerLink="/editprofile">Edit Profile</a>
          </li>
          <li>
          <a routerLink="/changepassword">Change Password</a>
            </li>
          <li>
      <a routerLink="/subjectwisecopiesreport">Subject Wise Copies Report</a>
    </li>
    <li>
      <a routerLink="/bookwisecopiesreport">Book Wise Copies Report</a>
    </li>
    <li>
      <a routerLink="/feesfinereport">Fees/Fine Report</a>
    </li>
    <li>
      <a routerLink="/help">Help</a>
    </li>
      <li> 
          <button type="submit" routerLink="" id="logout" name="logout">LogOut</button>
        </li>

  </ul>
</div>
<router-outlet></router-outlet>