<form action="">
  <div class="container">
    <h1>Login</h1>
    
    <div class="table-responsive">
      <table class="table table-hover">
       
          <tr>
            <td><label for="email"><b>Email</b></label></td>
             <td><input type="email" placeholder="Enter Email" name="email" id="email" required></td>
          </tr>
          <tr>
            <td><label for="password"><b>Password</b></label></td>
            <td><input type="password" placeholder="Enter Password" name="password" id="password" required></td>
          </tr>

          <tr>
                
                <td><button type="submit" routerLink="/dashboarduser" class="btn btn-large btn-block btn-success" id="login" name="login">Login</button></td>
                <td><button type="button" class="btn btn-danger"  id="cancel" name="cancel">Cancel</button></td>
                <td><button type="button" routerLink='/signup' class="btn btn-warning" id="signup" name="signup">Signup</button></td>
          </tr>
        
      </table>
    </div>
    </div>
</form>


